version: "3.9"
services:
  client1:
    build:
      context: ./client1
      dockerfile: Dockerfile
    networks:
      - mynet
    depends_on:
      - core

  core:
    build:
      context: ./core
      dockerfile: Dockerfile
    networks:
      - mynet

networks:
  mynet:
    driver: bridge
