version: "3.9"
services:
  client1:
    build:
      context: ./client1
      dockerfile: Dockerfile
    networks:
      - mynet
    depends_on:
      - core

  core:
    build:
      context: ./core
      dockerfile: Dockerfile
    networks:
      - mynet
    depends_on:
      - visualizer

  visualizer:
    build:
      context: ./visualizer
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - mynet

networks:
  mynet:
    driver: bridge
